body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 20px;
}

h1, h2, h3 {
    color: #333;
}

input, select {
    padding: 8px;
    margin: 10px 5px;
    width: 200px;
}

button {
    padding: 8px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    margin: 50px auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 40px 60px; /* Aumenta o espaço entre os textos */
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #ddd;
}
